.loader_bg{
  position: fixed;
  z-index: 999999;
  background: black;
  width: 100%;
  height: 100%;
}



.loader{
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader:before , .loader:after{
  content: '';
  border: 1em solid #ff5733;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 1s linear infinite;
  opacity: 0;
}

.loader:before{
  animation-delay: .5s;
}

@keyframes loader {
  0%{
    transform: scale(0);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }

}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


html {
  scroll-behavior: smooth;
}



.main-info-section,
.work-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


body{
  background-color: #252627;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}


header h1,
header a,
.text p,
.about h1,
.skills h1,
.contact h1 {
  color: #707070;

}



.space {
  margin-top: 200px !important;
}



.main-info-section{
  height: calc(100vh-81.6px);
  margin-top: 20px !important;
}


.text{
  margin-top: 200px;

}

.text h1{
  color: #fff;
  font-size: 3rem;
  cursor: context-menu;
}

.text span{
  display: inline-block;
}

span:hover {
  color: #48cfad;
  transition: all .5s;
}

span.name {
  color: #ed5565;

}

span.m-left {
  margin-left: -10px;


}

.text p {
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: .8rem;
}

.text a{
  padding: 12px 25px;
  background-color: none;
  border: 3px solid #ed5565;
  color: #ed5565;
  border-radius: 0 25px 0 25px;
  font-family: 'Dosis', sans-serif;

  font-size: .8rem;
  letter-spacing: 2px;
  position: relative;
  top: 80px;
  overflow: hidden;
  transition: .5s;
  display: inline-block;
}

.text a:hover {
  color: #fff;

}

.text a::before {
  content: '';
  background-color: #ed5565;
  position: absolute;
  left: 0em;
  top: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: .5s;
}

.text a:hover::before {
  height: 100%;
}

.navbar{
  background-color: black;
}

.nav-link {
  color: #fff !important;
  font-size: 17px;
  
  letter-spacing: 5px !important;
  border-bottom: 3px solid #ed5565;
  font-family: 'Patua One', cursive;
  transition: all 0.5s linear;
  position: relative;
}


.nav-link:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #48cfad;
  position: absolute;
  left: 0;
  bottom: -3px; 
  transform-origin: left; 
  transform: scale(0);
  transition: 0.25s linear;

}

.nav-link:hover:before {
  transform: scale(1);
}


.about{
  margin-top: 440px;
}
.about h1{
  text-align: center;
  font-family: 'Monoton', cursive;
  font-size: 80px;
  margin-bottom: 100px !important;
  color: #8E54E9; 

}

.about p{
  justify-content: center;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  margin-bottom: 50px !important;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

.responsive {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  height: auto;
  
  
}

.skills{
  margin-top: 350px !important;
}

.skills h1{
  text-align: center;
  font-size: 80px;
  margin-bottom: 10px !important;
  font-weight: lighter;
  font-family:'Monoton', cursive; 
  color: #48cfad;

}

.skill{
  width: 500px;
  margin: 50px auto 0;
  padding: 20px;
}

 .sk li{
  position: relative;
  list-style: none;
  margin: 50px 0;
  font-weight: 500;
  text-transform: capitalize;
  color: #48cfad;
}

.sk li:before {
  content: '';
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 15px;
  background-color: rgba(54,126,223,0.5);
  border-radius: 1000px;
}


.sk li:after {
  content: '';
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0;
  height: 15px;
  background-color: rgba(54,126,223,1);
  border-radius: 1000px;
  animation-duration: 10.7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.sk li.html:after {
  animation-name: html;
}

@keyframes html {
  to{
    width: 85%;
  }
}

.sk li.css:after {
  animation-name: css;
}

@keyframes css {
  to{
    width: 65%;
  }
}



.sk li.js:after {
  animation-name: js;
}

@keyframes js {
  to{
    width: 75%;
  }
}

.sk li.re:after {
  animation-name: re;
}

@keyframes re {
  to{
    width: 60%;
  }
}


.sk li.py:after {
  animation-name: py;
}

@keyframes py {
  to{
    width: 80%;
  }
}


.sk li.nd:after {
  animation-name: nd;
}

@keyframes nd {
  to{
    width: 48%;
  }
}


.project{
  margin-top: 250px !important;
}

.project h1{
  text-align: center;
  font-size: 80px;
  margin-bottom: 10px !important;
  font-weight: lighter;
  font-family: 'Monoton', cursive;
  color: #ed5565;
  

}

#proj img{
  margin-top: -40px;
  width: 80px !important;
  max-width: 50%;
  height: auto;
}

.card{
  border-radius: 20px  !important;
  box-shadow: 0px 0px 6px whitesmoke ;
  background-image: linear-gradient(-90deg, #4776E6, #8E54E9);
  height: 210px !;
  transition:all 0.3s ease-in ;
  -webkit-transition: all 0.3s ease-in ;
  -moz-transition: all 0.3s ease-in;
}

.card:hover {
  
  color: black !important;
  
  border: none;
  box-shadow: 2px 2px  black ;
  

}



#proj p{
  font-weight: 500;
  color: #fff;
}
.cd h3 {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}

.cd h5 {
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}


.more {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 19px;
  border-bottom:  3px solid #ed5565;
  margin: auto;
  justify-content: center;
}

.more:hover {
  color: #48cfad !important;
}

 .add  {
  font-family: 'Tangerine', cursive;
  font-size: 30px;
  color: #fff;
  font-weight: bold !important;
}


.contact{
  margin-top: 160px !important;
  margin-bottom: 100px !important;
}

.contact h1 {
  
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px !important;
    font-weight: lighter;
    font-family: 'Monoton', cursive;
    color: #ed5565;
        
  
  
}


.contact a {
  color: #fff;
  margin-top: 30px !important;
  font-size: 20px;
  padding: 10px;
  transition: all .5s ease;
  
}



.contact a:hover {
  color: #ff5733 !important;
}


.icons {
  text-align: center;
  margin-top: 50px !important;
}