.loader_bg{
  position: fixed;
  z-index: 999999;
  background: black;
  width: 100%;
  height: 100%;
}

.loader{
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader:before , .loader:after{
  content: '';
  border: 1em solid #ff5733;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before{
  animation-delay: .5s;
}

@keyframes loader {
  0%{
    transform: scale(0);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }

}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}


html {
  scroll-behavior: smooth;
}

.container {
  padding: 0 100px 0 100px;
}

nav ul,
.main-info-section,
.work-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


body{
  background-color: #252627;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}


header h1,
header a,
.text p,
.about h1,
.skills h1,
.contact h1 {
  color: #707070;

}





.main-info-section{
  height: calc(100vh-81.6px);
}

.text{
  margin-top: 120px;

}

.text h1{
  color: #fff;
  font-size: 3rem;
  cursor: context-menu;
}

.text span{
  display: inline-block;
}

span:hover {
  color: #48cfad;
  transition: all .5s;
}

span.name {
  color: #ed5565;

}

span.m-left {
  margin-left: -10px;


}

.text p {
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: .8rem;
}

.text a{
  padding: 12px 25px;
  background-color: none;
  border: 3px solid #ed5565;
  color: #ed5565;
  font-size: .8rem;
  letter-spacing: 2px;
  position: relative;
  top: 80px;
  overflow: hidden;
  transition: .5s;
  display: inline-block;
}

.text a:hover {
  color: #fff;

}

.text a::before {
  content: '';
  background-color: #ed5565;
  position: absolute;
  left: 0em;
  top: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: .5s;
}

.text a:hover::before {
  height: 100%;
}



